html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: Tahoma;
    background: #fc4a1a;
    background: -webkit-linear-gradient(to bottom right, #3FE5E5, #0B274D);
    background: linear-gradient(to bottom right, #3FE5E5, #0B274D)
}

.tab-pane{
    height:90%;
    overflow-y:auto;
    overflow-x: hidden;
}

#main_navbar {
    background: #0B274D;
}