.footer{
    background-color: #383737;
    color: azure;
    text-align: center;
    margin-top: 1em;
  }

#data-entry-div{
    display: grid;
    margin: 1em;
    align-items: center;
}

#data-filtering{
  display: grid;
  margin: 1em;
  align-items: center;

}

#results{
  margin: 1em;
  align-items: center;
}

.intro-div{
  margin: 1em;
  align-items: center;
}

.two-column{
  display: flex;
  justify-content: space-between;
  margin-right: 9em;

}


.inner-div{
  margin: 0.5em;
}

.text-justify {
  text-align: justify;
}

.access-level{
  color: red;
}

.ali-test{
  background-color: aqua;
}

.content_center {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 250px;
  height: 150px;
}

a:hover {
  font-weight: 500;
}

.navbar-nav li:hover .dropdown-menu {
    display: block;
}

.filter-form{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1em;
}

.input-form{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1em;
}

#main_wrapper {
  background-image:
    /* top image*/
    linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(100, 51, 51, 0.6) 86%, rgba(51, 51, 51, 0.8) 100%),
    /*bottom image*/
    url(http://lorempixel.com/image_output/abstract-q-c-500-500-3.jpg);
  height: 500px;
  color: white;
}
