{% extends "base.html" %}

{% block content %}
	<div>

		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			  Select a Budget
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				{% for budget in month_year_combinations %}
					<li><a class="dropdown-item" href="#"></a>{{ budget }}</li>
				{% endfor %}
			</ul>
		</div>


		<ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="budget-tab" data-bs-toggle="tab" data-bs-target="#budget" type="button" role="tab" aria-controls="budget" aria-selected="true">Budget</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="transactions-tab" data-bs-toggle="tab" data-bs-target="#transactions" type="button" role="tab" aria-controls="transactions" aria-selected="false">Transactions</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="false">Stats</button>
			</li>
		</ul>


		<div class="tab-content mt-5" id="tabs">
			<div class="tab-pane active" id="budget" role="tabpanel" aria-labelledby="budget-tab">
				<div>
					<div class='p5 m5'><h1 >Budget</h1></div>
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-sm">
												<div class="form-inline">
													<div class="col-md-12 form-group">
														<label class="col-sm-6 col-form-label"  for="budgetAmount">Total Amount Budgeted: </label>
														<input type="text" class="form-control" name="budgetAmount" id="budgetAmount" value="$70,000,000" readonly/>
													</div>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-inline">
													<div class="col-md-12 form-group">
														<label class="col-sm-6 col-form-label"  for="budgetSpent">Total Amount Spent: </label>
														<input type="text" class="form-control" name="budgetSpent" id="budgetSpent" value="$150,000,000" readonly/>
													</div>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-inline">
													<div class="col-md-12 form-group">
														<label class="col-sm-6 col-form-label"  for="budgetRemaining">Total Amount Remaining: </label>
														<input type="text" class="form-control" name="budgetRemaining" id="budgetRemaining" value="$26,000,000" readonly/>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Group</th>
										<th scope="col">Transaction Category</th>
										<th scope="col">Amount Budgeted</th>
										<th scope="col">Amount Spent</th>
										<th scope="col">Amount Remaining</th>
									</tr>
								</thead>
								<tbody>
									{% for group in groups %}
										<tr>
											<th scope="row" style="display: none;">{group.group_description}}</th>
											<td class="tabledit-view-mode" style="cursor: pointer;">
												<span class="tabledit-span">{{group.group_description}}</span>
												<input class="tabledit-input form-control input-sm" type="text" name="description" value={{group.group_description}} style="display: none;" disabled="">
											</td>
											<td>Water, Electric</td>
											<td class="tabledit-view-mode" style="cursor: pointer;">
												<span class="tabledit-span">{{group.budgeted}}</span>
												<input class="tabledit-input form-control input-sm" type="text" name="budgeted" value={{group.budgeted}} style="display: none;" disabled="">
											</td>
											<td class="tabledit-view-mode" style="cursor: pointer;">
												<span class="tabledit-span">{{group.spent}}</span>
												<input class="tabledit-input form-control input-sm" type="text" name="spent" value={{group.spent}} style="display: none;" disabled="">
											</td>
											<td class="tabledit-view-mode" style="cursor: pointer;">
												<span class="tabledit-span">{{group.remaining}}</span>
												<input class="tabledit-input form-control input-sm" type="text" name="remaining" value={{group.remaining}} style="display: none;" disabled="">
											</td>
											<td>
												<button type="submit" class="btn-sm btn-primary">Update<i class="fas fa-edit"></i></button>
												<button type="submit" class="btn-sm btn-danger">Delete<i class="far fa-trash-alt"></i></button>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<div class="card">
								<div class="card-body">
									<div class="row">
										<form method="POST">{% csrf_token %}
											<h4>Add a New Group</h4>
											<p>You can group existing categories of transactions together.</p>
											<div class="col-sm">
												<div class="form-inline">
													<div class="col p1">
														<input type="text" class="form-control" placeholder="New Group Name" name="group_description">
													</div>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-inline">
													<div class="col-md-12 form-group">
														<input type="text" class="form-control" placeholder="Amount to Budget">
													</div>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-inline">
													<div class="col-md-12 form-group">
														<input type="submit" class="form-control btn-sm btn-success" value="Add Group" name="create_group">
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
				<!-- Overall Content for Transactions Tab -->
				<div class='p5 m5'><h1 >Transactions</h1></div>
				<!-- snippet from https://bbbootstrap.com/snippets/responsive-inline-editable-table-row-91465877 -->
				<script type="text/javascript" src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1567487539/jquery.tabledit.js"></script>
				<div class="mt-100">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h5>Edit row with Click</h5>
									<span>Eventually we should be able to click on row to perform edit action then Enter for save</span>
								</div>
								<div class="card-block">
									<div class="table-responsive">

										<table class="table table-striped table-bordered" id="example-1">
											<thead>
												<tr>
													<th style="display: none;">#</th>
													<th>Transaction</th>
													<th>Vendor</th>
													<th>Date</th>
													<th>Category</th>
													<th>Amount</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												{% for transaction in transactions %}
													<tr>
														<th scope="row" style="display: none;">{{transaction.transaction_id}}</th>
														<td class="tabledit-view-mode" style="cursor: pointer;">
															<span class="tabledit-span">{{transaction.description}}</span>
															<input class="tabledit-input form-control input-sm" type="text" name="Description" value={{transaction.description}} style="display: none;" disabled="">
														</td>
														<td class="tabledit-view-mode" style="cursor: pointer;">
															<span class="tabledit-span">{{transaction.vendor}}</span>
															<input class="tabledit-input form-control input-sm" type="text" name="Vendor" value={{transaction.vendor}} style="display: none;" disabled="">
														</td>
														<td class="tabledit-view-mode" style="cursor: pointer;">
															<span class="tabledit-span" style="">{{transaction.date}}</span>
															<input class="tabledit-input form-control input-sm fill" type="date" name="Date" value={{transaction.date}} style="display: none;" disabled="">
														</td>
														<td class="tabledit-view-mode" style="cursor: pointer;">
															<span class="tabledit-span" style="">{{transaction.category}}</span>
															<input class="tabledit-input form-control input-sm fill" type="text" name="Category" value={{transaction.category}} style="display: none;" disabled="">
														</td>
														<td class="tabledit-view-mode" style="cursor: pointer;">
															<span class="tabledit-span" style="">{{transaction.amount}}</span>
															<input class="tabledit-input form-control input-sm fill" type="number" name="Amount" value={{transaction.amount}} style="display: none;" disabled="">
														</td>
														<td>
															<button type="submit" class="btn-sm btn-primary">Update<i class="fas fa-edit"></i></button>
															<button type="button" class="btn-sm btn-danger">Delete<i class="far fa-trash-alt"></i></button>
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="display: flex;">
					<form method="POST">{% csrf_token %}
						<div class='card m-3 p-3'>
							<h4>Add new transaction</h4>
							<div class="form-inline">
								<div class="col p-2">
									<input type="text" class="form-control" placeholder="New Transaction Name" name="transaction_description">
								</div>
								<div class="col p-2">
									<input type="text" class="form-control" name="transaction_vendor" placeholder="Vendor">
								</div>
								<div class="col p-2">
									<input type="date" class="form-control" name="transaction_date">
								</div>
								<label class="mr-sm-2" for="inlineFormCustomSelect">Select a Category</label>
								<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="transaction_category">
									<option selected>Choose...</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
								<div class="col p-2">
									<input type="text" class="form-control" placeholder="Amount" name="transaction_amount">
								</div>
								<div class="col p-2">
									<input type="submit" class="form-control btn-sm btn-success" value="Add Transaction" name="create_transaction">
								</div>
							</div>
						</div>
					</form>
					<!-- New Category Form -->
					<form method="POST">{% csrf_token %}
						<div class='card m-3 p-3'>
						<h4>Add New Category</h4>
							<p>All categories will be displayed on the Transactions page.</p>
							<p>All categories are selectable as Group.</p>
							<div class="form-inline">
								<div class="col">
									<input type="text" class="form-control" placeholder="New Category Name" name="category_description">
								</div>
								<div class="col">
									<input type="submit" class="form-control btn-sm btn-success" value="Add Category" name="create_category">
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class='w-50'></div>
			</div>
			<div class="tab-pane" id="stats" role="tabpanel" aria-labelledby="stats-tab">
				<div class='p5 m5'><h1 >Stats</h1></div>
			</div>
		</div>
	</div>

	<div class="pt-5">
		{% for category in categories %}
			<form method="POST">{% csrf_token %}
				<div class="row">
						<div class="col-sm-1"><input type="hidden" value='{{ category.id }}' name='primary_key'></div>
						<div class="col-md-2"><input type="text" value="{{ category.description }}" name="category_description"></div>
						<div class="col-md-1"><input type="submit" class="form-control btn-sm btn-danger" value="Update" name="update_category"></div>
						<div class="col-md-1"><input type="submit" class="form-control btn-sm btn-danger" value="Delete Category" name="delete_category"></div>
					</div>
			</form>
		{% endfor %}
	</div>

	<div class="pt-5">
		{% for group in groups %}
			<form method="POST">{% csrf_token %}
				<div class="row">
					<div class="col-sm-1"><input type="hidden" value='{{ group.id }}' name='primary_key'></div>
					<div class="col-md-2"><input type="text" value="{{ group.description }}" name="group_description"></div>
					<div class="col-md-1"><input type="submit" class="form-control btn-sm btn-danger" value="Update" name="update_group"></div>
					<div class="col-md-1"><input type="submit" class="form-control btn-sm btn-danger" value="Delete Group" name="delete_group"></div>
				</div>
			</form>
		{% endfor %}
	</div>

{% endblock %}