{% extends "base.html" %}

{% block content %}
	<div>

<!--		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
			  Select a Budget
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				{% for budget in month_year_combinations %}
					<li><a class="dropdown-item" href="#"></a>{{ budget }}</li>
				{% endfor %}
			</ul>
		</div>-->


		<ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="budget-tab" data-bs-toggle="tab" data-bs-target="#budget" type="button" role="tab" aria-controls="budget" aria-selected="true">Budget</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="transactions-tab" data-bs-toggle="tab" data-bs-target="#transactions" type="button" role="tab" aria-controls="transactions" aria-selected="false">Transactions</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="false">Stats</button>
			</li>
		</ul>


		<div class="tab-content mt-5" id="tabs">
			<div class="tab-pane active" id="budget" role="tabpanel" aria-labelledby="budget-tab">
				<div>
					<div class='p5 m5'><h1 >Budget - {{month}}  {{year}}</h1></div>
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-sm">
												<div class="form-inline">
													<form method="POST">{% csrf_token %}
														<div>
															<div class="form-group">
																<label class="col-sm-6 col-form-label"  for="budget_amount">Total Amount Budgeted: </label>
																<div class="input-group">
																	<input type="text" class="form-control" style="margin-right:5px;" name="budget_amount" id="budget_amount" value="{{budget.amount}}"/>
																	<span class="input-group-addon"><input type="submit" class="form-control btn btn-success" value="Save" name="create_budget"></span>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-inline">
													<div class="col-md-12 form-group">
														<label class="col-sm-6 col-form-label"  for="budget_spent">Total Amount Spent: </label>
														<input type="text" class="form-control" name="budget_spent" id="budget_spent" value="{{budget.spent}}" readonly/>
													</div>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-inline">
													<div class="col-md-12 form-group">
														<label class="col-sm-6 col-form-label"  for="budget_remaining">Total Amount Remaining: </label>
														<input type="text" class="form-control" name="budget_remaining" id="budget_remaining" value="{{budget.remaining}}" readonly/>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<table class="table">
								<thead>
									<tr>
										<th scope="col">Group</th>
										<th scope="col">Transaction Category</th>
										<th scope="col">Amount Budgeted</th>
										<th scope="col">Amount Spent</th>
										<th scope="col">Amount Remaining</th>
									</tr>
								</thead>
								<tbody>
									{% for group in groups %}
										<tr>
											<th scope="row" style="display: none;">{group.description}}</th>
											<td class="tabledit-view-mode" style="cursor: pointer;">
												<span class="tabledit-span">{{group.description}}</span>
												<input class="tabledit-input form-control input-sm" type="text" name="description" value={{group.description}} style="display: none;" disabled="">
											</td>
											<td>Water, Electric</td>
											<td class="tabledit-view-mode" style="cursor: pointer;">
												<span class="tabledit-span">{{group.budgeted}}</span>
												<input class="tabledit-input form-control input-sm" type="text" name="budgeted" value={{group.budgeted}} style="display: none;" disabled="">
											</td>
											<td class="tabledit-view-mode" style="cursor: pointer;">
												<span class="tabledit-span">{{group.spent}}</span>
												<input class="tabledit-input form-control input-sm" type="text" name="spent" value={{group.spent}} style="display: none;" disabled="">
											</td>
											<td class="tabledit-view-mode" style="cursor: pointer;">
												<span class="tabledit-span">{{group.remaining}}</span>
												<input class="tabledit-input form-control input-sm" type="text" name="remaining" value={{group.remaining}} style="display: none;" disabled="">
											</td>
											<td>
												<button type="submit" class="btn-sm btn-primary">Update <i class="fa fa-edit"></i></button>
												<button type="submit" class="btn-sm btn-danger">Delete <i class="fa fa-trash"></i></button>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

							<div class="card">
								<div class="card-body">
									<div class="row">
										<form method="POST">{% csrf_token %}
											<h4>Add a New Group</h4>
											<p>You can group existing categories of transactions together.</p>
											<div class="col-sm">
												<div class="form-inline">
													<div class="col p1">
														<input type="text" class="form-control" placeholder="New Group Name" name="group_description">
													</div>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-inline">
													<div class="col-md-12 form-group">
														<input type="text" class="form-control" placeholder="Amount to Budget">
													</div>
												</div>
											</div>
											<div class="col-sm">
												<div class="form-inline">
													<div class="col-md-12 form-group">
														<input type="submit" class="form-control btn-sm btn-success" value="Add Group" name="create_group">
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- Categories Tab -->
			<div class="tab-pane" id="categories" role="tabpanel" aria-labelledby="categories-tab">
				<div class='p5 m5'><h1 >Categories</h1></div>

				<!-- Categories Display -->
				<div class='card w-50'>
					<div class="card-header">
						<h5>Create, update and delete categories here.</h5>

						<div class="card-block">
							<div class="table-responsive">

								<table class="table table-striped table-bordered" id="example-1">
									<thead>
										<tr>
											<th style="display: none; width : 2px">#</th>
											<th>Category Name</th>
										</tr>
									</thead>

									<tbody>
										<form method="POST">{% csrf_token %}
											<tr>
												<td><input type="text" class="form-control" placeholder="New Category Name" name="category_description"></td>
												<td>
													<button type="submit" class="form-control btn-sm btn-success" value="Add Category" 
													name="create_category">Add Category <i class="fa fa-plus"></i>
													</button>
												</td>
											</tr>
										</form>



										{% for category in categories %}
											<form method="POST">{% csrf_token %}
												<tr>
													<td style="display: none; width : 2px"><input type="hidden" value='{{ category.id }}' name="primary_key"></td>
													<td><input type="text" class="form-control" value='{{ category.description }}' name="category_description"></td>
													<td>
														<button type="submit" class="form-control btn-sm btn-primary" value="Update" 
														name="update_category">Update <i class="fa fa-edit"></i>
														</button>
													</td>
													<td>
														<button type="submit" class="form-control btn-sm btn-danger" value="Delete Category" 
														name="delete_category">Delete Category <i class="fa fa-trash"></i>
														</button>
													</td>
												</tr>
											</form>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="tab-pane" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
				<!-- Overall Content for Transactions Tab -->
				<div class='p5 m5'><h1 >Transactions</h1></div>
				<!-- snippet from https://bbbootstrap.com/snippets/responsive-inline-editable-table-row-91465877 -->
				<script type="text/javascript" src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1567487539/jquery.tabledit.js"></script>
				<div class="mt-100">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<h5>Create, update and delete transactions here.</h5>

									<div class="card-block">
										<div class="table-responsive">

											<table class="table table-striped table-bordered" id="example-1">
												<thead>
													<tr>
														<th style="display: none; width : 2px">#</th>
														<th>Transaction</th>
														<th>Vendor</th>
														<th>Date</th>
														<th>Category</th>
														<th>Amount</th>
														<th></th>
													</tr>
												</thead>

												<tbody>
													<form method="POST">{% csrf_token %}
														<tr>
															<td><input type="text" class="form-control" placeholder="New Transaction Name" name="transaction_description"></td>
															<td><input type="text" class="form-control" placeholder="Vendor" name="transaction_vendor" ></td>
															<td><input type="date" class="form-control" name="transaction_date"></td>
															<td>
																<label class="mr-sm-2" for="inlineFormCustomSelect">Select a Category</label>
																<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="transaction_category">
																	<option selected>Choose...</option>
																	{% for category in categories %}
																		<option value="{{category.description}}">{{category.description}}</option>
																	{% endfor %}
																</select>
															</td>
															<td><input type="text" class="form-control" placeholder="Amount" name="transaction_amount"></td>
															<td><input type="submit" class="form-control btn-sm btn-success" value="Add Transaction" name="create_transaction"></td>

														</tr>
													</form>
													{% for transaction in transactions %}
														<form method="POST">{% csrf_token %}
															<tr>
																<td style="display: none; width : 2px"><input type="hidden" value='{{ transaction.id }}' name="primary_key"></td>
																<td><input type="text" class="form-control" value='{{ transaction.description }}' name="transaction_description"></td>
																<td><input type="text" class="form-control" value='{{ transaction.vendor }}' name="transaction_vendor"></td>
																<td><input type="date" class="form-control" value='{{ transaction.date }}' name="transaction_date">{{transaction.date}}</td>
																<td>
																	<p>Current category: {{ transaction.category }}</p>
																	<label class="mr-sm-2" for="inlineFormCustomSelect">Update Category:</label>
																	<select class="custom-select mr-sm-2" id="inlineFormCustomSelect1" name="transaction_category">
																		<option selected>Choose...</option>
																		{% for category in categories %}
																			<option value="{{category.description}}">{{category.description}}</option>
																		{% endfor %}
																	</select>
																</td>
																<td><input type="text" class="form-control" value='{{ transaction.amount }}' name="transaction_amount"></td>
																<td><input type="submit" class="form-control btn-sm btn-primary" value="Update" name="update_transaction"></td>
																<td><input type="submit" class="form-control btn-sm btn-danger" value="Delete" name="delete_transaction"></td>
															</tr>
														</form>
													{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="display: flex;">
<!--					<form method="POST">{% csrf_token %}-->
<!--						<div class='card m-3 p-3'>-->
<!--							<h4>Add new transaction</h4>-->
<!--							<div class="form-inline">-->
<!--								<div class="col p-2">-->
<!--									<input type="text" class="form-control" placeholder="New Transaction Name" name="transaction_description">-->
<!--								</div>-->
<!--								<div class="col p-2">-->
<!--									<input type="text" class="form-control" name="transaction_vendor" placeholder="Vendor">-->
<!--								</div>-->
<!--								<div class="col p-2">-->
<!--									<input type="date" class="form-control" name="transaction_date">-->
<!--								</div>-->
<!--								<label class="mr-sm-2" for="inlineFormCustomSelect">Select a Category</label>-->
<!--								<select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="transaction_category">-->
<!--									<option selected>Choose...</option>-->
<!--									{% for category in categories %}-->
<!--										<option value="{{category.id}}">{{category.description}}</option>-->
<!--									{% endfor %}-->
<!--								</select>-->
<!--								<div class="col p-2">-->
<!--									<input type="text" class="form-control" placeholder="Amount" name="transaction_amount">-->
<!--								</div>-->
<!--								<div class="col p-2">-->
<!--									<input type="submit" class="form-control btn-sm btn-success" value="Add Transaction" name="create_transaction">-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</form>-->
					<!-- New Category Form -->
					<form method="POST">{% csrf_token %}
						<div class='card m-3 p-3'>
						<h4>Add New Category</h4>
							<p>All categories will be displayed on the Transactions page.</p>
							<p>All categories are selectable as Group.</p>
							<div class="form-inline">
								<div class="col">
									<input type="text" class="form-control" placeholder="New Category Name" name="category_description">
								</div>
								<div class="col">
									<input type="submit" class="form-control btn-sm btn-success" value="Add Category" name="create_category">
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class='w-50'></div>
			</div>
			<div class="tab-pane" id="stats" role="tabpanel" aria-labelledby="stats-tab">
				<div class='p5 m5'><h1 >Stats</h1></div>
			</div>
		</div>
	</div>

	<div class="pt-5">
		{% for category in categories %}
			<form method="POST">{% csrf_token %}
				<div class="row">
						<div class="col-sm-1"><input type="hidden" value='{{ category.id }}' name='primary_key'></div>
						<div class="col-md-2"><input type="text" value="{{ category.description }}" name="category_description"></div>
						<div class="col-md-1"><input type="submit" class="form-control btn-sm btn-danger" value="Update" name="update_category"></div>
						<div class="col-md-1"><input type="submit" class="form-control btn-sm btn-danger" value="Delete Category" name="delete_category"></div>
					</div>
			</form>
		{% endfor %}
	</div>

	<div class="pt-5">
		{% for group in groups %}
			<form method="POST">{% csrf_token %}
				<div class="row">
					<div class="col-sm-1"><input type="hidden" value='{{ group.id }}' name='primary_key'></div>
					<div class="col-md-2"><input type="text" value="{{ group.description }}" name="group_description"></div>
					<div class="col-md-1"><input type="submit" class="form-control btn-sm btn-danger" value="Update" name="update_group"></div>
					<div class="col-md-1"><input type="submit" class="form-control btn-sm btn-danger" value="Delete Group" name="delete_group"></div>
				</div>
			</form>
		{% endfor %}
	</div>

{% endblock %}